.cool-border {
  position: relative;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cool-border::after {
  content: "";
  position: absolute;
}

.cool-border-h-top-left {
  background-image: linear-gradient(90deg, #ff8a00, #fff);
  border-left: 1px solid #ff8a00;
  background-size: 100% 1px;
}

.cool-border-h-top-left::after {
  bottom: 0;
  left: 0;
  height: 1px;
  width: 25%;
  background-image: linear-gradient(90deg, #ff8a00, #fff);
}

.cool-border-h-top-right {
  background-image: linear-gradient(90deg, #fff, #ff8a00);
  border-right: 1px solid #ff8a00;
  background-size: 100% 1px;
}

.cool-border-h-top-right::after {
  content: "";
  bottom: 0;
  right: 0;
  height: 1px;
  width: 25%;
  background-image: linear-gradient(90deg, #fff, #ff8a00);
}

.cool-border-h-bottom-right {
  background-image: linear-gradient(90deg, #fff, #ff8a00);
  border-right: 1px solid #ff8a00;
  background-size: 100% 1px;
  background-position: 100% 100%;
}

.cool-border-h-bottom-right::after {
  top: 0;
  right: 0;
  height: 1px;
  width: 25%;
  background-image: linear-gradient(90deg, #fff, #ff8a00);
}

.cool-border-h-bottom-left {
  background-image: linear-gradient(90deg, #ff8a00, #fff);
  border-left: 1px solid #ff8a00;
  background-size: 100% 1px;
  background-position: 0 100%;
}

.cool-border-h-bottom-left::after {
  top: 0;
  left: 0;
  height: 1px;
  width: 25%;
  background-image: linear-gradient(90deg, #ff8a00, #fff);
}

.cool-border-v-top-left {
  background-image: linear-gradient(#ff8a00, #fff);
  border-top: 1px solid #ff8a00;
  background-size: 1px 100%;
}

.cool-border-v-top-left::after {
  top: 0;
  right: 0;
  height: 25%;
  width: 1px;
  background-image: linear-gradient(#ff8a00, #fff);
}

.cool-border-v-top-right {
  background-image: linear-gradient(#ff8a00, #fff);
  border-top: 1px solid #ff8a00;
  background-size: 1px 100%;
  background-position: 100% 0;
}

.cool-border-v-top-right::after {
  top: 0;
  left: 0;
  height: 25%;
  width: 1px;
  background-image: linear-gradient(#ff8a00, #fff);
}

.cool-border-v-bottom-right {
  background-image: linear-gradient(#fff, #ff8a00);
  border-bottom: 1px solid #ff8a00;
  background-size: 1px 100%;
  background-position: 100% 100%;
}

.cool-border-v-bottom-right::after {
  bottom: 0;
  left: 0;
  height: 25%;
  width: 1px;
  background-image: linear-gradient(#fff, #ff8a00);
}

.cool-border-v-bottom-left {
  background-image: linear-gradient(#fff, #ff8a00);
  border-bottom: 1px solid #ff8a00;
  background-size: 1px 100%;
  background-position: 0 100%;
}

.cool-border-v-bottom-left::after {
  bottom: 0;
  right: 0;
  height: 25%;
  width: 1px;
  background: linear-gradient(#fff, #ff8a00);
}

.cool-border-corner-top-left {
  background-image: linear-gradient(90deg, #ff8a00, #fff);
  background-size: 100% 1px;
}

.cool-border-corner-top-left::after {
  top: 0;
  left: 0;
  background: linear-gradient(#ff8a00, #fff);
  height: 100%;
  width: 1px;
}

.cool-border-corner-top-right {
  background-image: linear-gradient(90deg, #fff, #ff8a00);
  background-size: 100% 1px;
}

.cool-border-corner-top-right::after {
  right: 0;
  top: 0;
  background: linear-gradient(#ff8a00, #fff);
  height: 100%;
  width: 1px;
}

.cool-border-corner-bottom-right {
  background-image: linear-gradient(90deg, #fff, #ff8a00);
  background-position: 0 100%;
  background-size: 100% 1px;
}

.cool-border-corner-bottom-right::after {
  right: 0;
  bottom: 0;
  background: linear-gradient(#fff, #ff8a00);
  height: 100%;
  width: 1px;
}

.cool-border-corner-bottom-left {
  background-image: linear-gradient(90deg, #ff8a00, #fff);
  background-position: 0 100%;
  background-size: 100% 1px;
}

.cool-border-corner-bottom-left::after {
  bottom: 0;
  left: 0;
  background: linear-gradient(#fff, #ff8a00);
  height: 100%;
  width: 1px;
}
