div.cool-border {
  height: 100px;
  width: 400px;
}

.cool-border {
  margin: 2em;
  position: relative;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cool-border:after {
  content: "";
  position: absolute;
}

.cool-border-horizontal-bottom-left-orange {
  background-image: linear-gradient(90deg,#ff8a00,#fff);
  border-left: 1px solid #ff8a00;
  background-size: 100% 1px;
}

.cool-border-horizontal-bottom-left-orange:after {
  bottom: 0;
  left: 0;
  height: 1px;
  width: 25%;
  background: linear-gradient(90deg,#ff8a00,#fff);
}

.cool-border-horizontal-bottom-right-orange {
  background-image: linear-gradient(270deg,#ff8a00,#fff);
  border-right: 1px solid #ff8a00;
  background-size: 100% 1px;
}

.cool-border-horizontal-bottom-right-orange:after {
  bottom: 0;
  right: 0;
  height: 1px;
  width: 25%;
  background: linear-gradient(270deg,#ff8a00,#fff);
}

.cool-border-horizontal-top-right-orange {
  background-image: linear-gradient(270deg,#ff8a00,#fff);
  border-right: 1px solid #ff8a00;
  background-size: 100% 1px;
  background-position: 100% 100%;
}

.cool-border-horizontal-top-right-orange:after {
  top: 0;
  right: 0;
  height: 1px;
  width: 25%;
  background: linear-gradient(270deg,#ff8a00,#fff);
}

.cool-border-horizontal-top-left-orange {
  background-image: linear-gradient(90deg,#ff8a00,#fff);
  border-left: 1px solid #ff8a00;
  background-size: 100% 1px;
  background-position: 0 100%;
}

.cool-border-horizontal-top-left-orange:after {
  top: 0;
  left: 0;
  height: 1px;
  width: 25%;
  background: linear-gradient(90deg,#ff8a00,#fff);
}

.cool-border-vertical-bottom-left-orange {
  background-image: linear-gradient(#fff,#ff8a00);
  border-bottom: 1px solid #ff8a00;
  background-size: 1px 100%;
  background-position: 100% 100%;
}

.cool-border-vertical-bottom-left-orange:after {
  bottom: 0;
  height: 25%;
  width: 1px;
  background: linear-gradient(#fff,#ff8a00);
}

.cool-border-vertical-bottom-right-orange {
  background-image: linear-gradient(#fff,#ff8a00);
  border-bottom: 1px solid #ff8a00;
  background-size: 1px 100%;
  background-position: 0 100%;
}

.cool-border-vertical-bottom-right-orange:after {
  bottom: 0;
  right: 0;
  height: 25%;
  width: 1px;
  background: linear-gradient(#fff,#ff8a00);
}

.cool-border-vertical-top-left-orange {
  background-image: linear-gradient(#ff8a00,#fff);
  border-top: 1px solid #ff8a00;
  background-size: 1px 100%;
  background-position: 100% 0;
}

.cool-border-vertical-top-left-orange:after {
  top: 0;
  height: 25%;
  width: 1px;
  background: linear-gradient(#ff8a00,#fff);
}

.cool-border-vertical-top-right-orange {
  background-image: linear-gradient(#ff8a00,#fff);
  border-top: 1px solid #ff8a00;
  background-size: 1px 100%;
  background-position: 0 0;
}

.cool-border-vertical-top-right-orange:after {
  top: 0;
  right: 0;
  height: 25%;
  width: 1px;
  background: linear-gradient(#ff8a00,#fff);
}
